<%- include('./partials/header') %>

    <% if(success.length>0){ %>
        <div class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-blue-500">
            <span class="inline-block mt-1 mb-1 text-white">
                <%= success %>
            </span>
        </div>
        <% } %>

            <div class="w-full h-auto flex items-start justify-between pt-[5rem] relative">
                <div
                    class="w-[23%] flex h-screen flex-col items-center shadow-xl pt-[2rem] bg-[lavender] sticky top-0 bottom-0">
                    <div class="flex flex-col">
                        <a class="block w-fit mb-2 font-semibold" href="">All Products</a>
                        <a class="block w-fit mb-2 font-semibold" href="/owner/admin">Create new product</a>
                    </div>
                </div>
                <div class="w-[70%] flex flex-col gap-5 h-auto pt-[2rem] mb-4">
                    <!-- <a class="text-red-500" href="">Delete all</a> -->
                    <div class="flex items-start flex-wrap gap-5">
                        <% products.forEach(function(product){ %>
                            <div class="w-[13rem] bg-[<%= product.bgcolor %>] rounded">
                                <div class="w-full h-52 flex items-center justify-center">
                                    <img class="h-[12rem] w-auto object-contain "
                                        src="data:image/jpeg;base64,<%= product.image.toString('base64') %>"
                                        alt="<%= product.name %>">
                                </div>
                                <div class="text-[<%= product.textcolor %>] bg-[<%= product.panelcolor %>] rounded">
                                    <div
                                        class="flex justify-between items-center px-4 py-4 rounded text-[<%= product.textcolor %>] bg-[<%= product.panelcolor %>]">

                                        <div>
                                            <h3 class="font-semibold">
                                                <%= product.name %>
                                            </h3>
                                            <div class="flex gap-2 items-center">
                                                <h4>₹ <%= product.price %>
                                                </h4>
                                                <p
                                                    class="text-xs text-[<%= product.textcolor %>] relative inline-block ">
                                                    <span
                                                        class=" before:absolute before:top-1/2 before:left-0 before:w-full before:h-[1px] before:bg-black before:content-['']">
                                                        ₹ <%= product.fakeprice %>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <a class="w-7 h-7 flex items-center justify-center text-black font-semibold rounded-full bg-white"
                                            href="/product/<%= product._id %>">
                                            <i class="ri-add-line"></i>
                                        </a>
                                    </div>
                                    <% if(owner){ %>
                                        <div class="flex justify-between items-center px-4 pb-4">
                                            <a href="editproduct/<%= product._id %>"
                                                class="bg-yellow-400 text-black shadow-lg font-semibold px-2 py-[5px] rounded">Edit
                                                Product</a>
                                            <a href="delete/<%= product._id %>"
                                                class="shadow-lg bg-red-500 text-white px-2 py-[5px] font-semibold rounded">Delete</a>
                                        </div>
                                        <% } %>
                                </div>
                            </div>
                            <% }) %>

                    </div>
                </div>
            </div>
            <%- include('./partials/footer') %>