<%- include('./partials/header') %>

    <% if(success.length>0){ %>
        <div class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-blue-500">
            <span class="inline-block mt-1 mb-1 text-white">
                <%= success %>
            </span>
        </div>
        <% } %>

            <div class="w-full h-auto flex items-start justify-between pt-[5rem]">
                <div class="w-[23%] flex h-screen flex-col items-center shadow-xl pt-[2rem] bg-[lavender]">
                    <div class="flex flex-col">
                        <a class="block w-fit mb-2 font-semibold" href="">All Products</a>
                        <a class="block w-fit mb-2 font-semibold" href="/owner/admin">Create new product</a>
                    </div>
                </div>
                <div class="w-[70%] flex flex-col gap-5 h-screen pt-[2rem]">
                    <!-- <a class="text-red-500" href="">Delete all</a> -->
                    <div class="flex items-start flex-wrap gap-5">
                        <% products.forEach(function(product){ %>
                            <div class="w-[13rem] bg-[<%= product.bgcolor %>] rounded">
                                <div class="w-full h-52 flex items-center justify-center">
                                    <img class="h-[12rem] w-auto object-contain "
                                        src="data:image/jpeg;base64,<%= product.image.toString('base64') %>"
                                        alt="<%= product.name %>">
                                </div>
                                <div
                                    class="flex justify-between items-center px-4 py-4 rounded text-[<%= product.textcolor %>] bg-[<%= product.panelcolor %>]">
                                    <div>
                                        <h3 class="font-semibold">
                                            <%= product.name %>
                                        </h3>
                                        <h4>₹ <%= product.price %>
                                        </h4>
                                    </div>
                                    <a class="w-7 h-7 flex items-center justify-center rounded-full bg-white"
                                        href="/product/<%= product._id %>">
                                        <i class="ri-add-line"></i>
                                    </a>
                                </div>
                            </div>
                            <% }) %>

                    </div>
                </div>
            </div>
            <%- include('./partials/footer') %>